@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Unbounded:wght@700&display=swap');

* {
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
}

:root {
	--dark: #1f2830;
	--dark-gray: #a5aab4;
	--gray: #dcdee3;
	--light-gray: #f7f8fc;
	--white: #ffffff;
	--blue: #589bff;
	--l-blue: #c4e8ff;
	--red: #f34565;
	--green: #18d183;
	--pink: #ffcee5;
	--sand: #ffd9ad;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

body {
	font-family: 'Inter', sans-serif;
	font-family: 'Unbounded', cursive;
	color: var(--dark);
	position: relative;
	height: 100vh;
	overflow-x: hidden;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

.bg-pink {
	background-color: var(--pink);
}

.bg-green {
	background-color: var(--green);
}

.bg-l-gray {
	background-color: var(--light-gray);
}

.bg-sand {
	background-color: var(--sand);
}

.bg-blue {
	background-color: var(--blue);
}

.bg-white {
	background-color: var(--white);
}

.bg-black {
	background-color: var(--dark);
}

.bg-dark-gray {
	background-color: var(--dark-gray);
}

.bg-red {
	background-color: var(--red);
}

.bg-l-blue {
	background-color: var(--l-blue);
}

.c-dark-gray {
	color: var(--dark-gray);
}

.c-gray {
	color: var(--gray);
}

.c-light-gray {
	color: var(--light-gray);
}

.c-white {
	color: var(--white);
}

.c-blue {
	color: var(--blue);
}

.c-red {
	color: var(--red);
}

.c-green {
	color: var(--green);
}

.c-black {
	color: var(--dark);
}

.text-24b {
	font-family: 'Unbounded', cursive;
	font-size: calc(24 / 1440 * 100vw);
	font-weight: 700;
	line-height: 1.25em;
}

.text-16m {
	font-family: 'Inter', sans-serif;
	font-size: calc(16 / 1440 * 100vw);
	font-weight: 500;
	line-height: 1.5em;
}

.text-14m {
	font-family: 'Inter';
	font-weight: 500;
	font-size: calc(14 / 1440 * 100vw);
	line-height: 1.43em;
}

.text-12s {
	font-family: 'Inter', sans-serif;
	font-size: calc(12 / 1440 * 100vw);
	font-weight: 600;
	line-height: 1.5em;
}

.text-16b {
	font-family: 'Unbounded', cursive;
	font-size: calc(16 / 1440 * 100vw);
	font-weight: 700;
	line-height: 1.5em;
}

.text-32b {
	font-family: 'Unbounded', cursive;
	font-size: calc(32 / 1440 * 100vw);
	font-weight: 700;
	line-height: 1.25em;
}

.text-32s {
	font-family: 'Unbounded', cursive;
	font-size: calc(32 / 1440 * 100vw);
	font-weight: 600;
	line-height: 1.25em;
}

.text-20b {
	font-family: 'Unbounded', cursive;
	font-size: calc(20 / 1440 * 100vw);
	font-weight: 700;
	line-height: 1.4em;
}

.text-16b {
	font-family: 'Unbounded', cursive;
	font-size: calc(16 /1440 * 100vw);
	font-weight: 700;
	line-height: 1.5em;
}

.text-16s {
	font-family: 'Inter', sans-serif;
	font-size: calc(16 / 1440 * 100vw);
	font-weight: 600;
	line-height: 1.5em;
}

.text-16s-u {
	font-family: 'Unbounded', cursive;
	font-size: calc(16 / 1440 * 100vw);
	font-weight: 600;
	line-height: 1.5em;
}

.text-16m {
	font-family: 'Inter', sans-serif;
	font-size: calc(16 / 1440 * 100vw);
	font-weight: 500;
	line-height: 1.5em;
}

.text-14b {
	font-family: 'Inter', sans-serif;
	font-size: calc(14 / 1440 * 100vw);
	font-weight: 700;
	line-height: 1.43em;
}

.text-14m {
	font-family: 'Inter';
	font-weight: 500;
	font-size: calc(14 / 1440 * 100vw);
	line-height: 1.43em;
}

.text-14s {
	font-family: 'Inter', sans-serif;
	font-size: calc(14 / 1440 * 100vw);
	font-weight: 600;
	line-height: 1.43em;
}




.footer__icon-container svg path {
	stroke: var(--dark-gray);
}

.footer__icon-container.__active svg path {
	stroke: var(--blue);
}

.big-black-button {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 16px;
	color: var(--white);
	background-color: var(--dark);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

input {
	all: unset;
}

/* переподключить стили? начинаем хедер*/

body {
	background-color: var(--light-gray);
}

.header {
	width: 100%;
	height: 7.5vh;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5625vh 8.3333vw;
	gap: 12.0833vw;
}

.UserButton {
	position: relative;
}

.User {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	border: 0;
	font-size: calc(16 / 1440 * 100vw);
	cursor: pointer;
}

.logout {
	position: absolute;
	overflow: auto;
	z-index: 1;
	display: none;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	border: 0;
	padding: 12px;
	border-radius: 12px;
	font-size: calc(16 / 1440 * 100vw);
	cursor: pointer;
	width: 100%;
}

.show {
	margin: 0.5555555vw;
	display: flex;
}

.logout img {
	width: auto;
}


.user_avatar {
	overflow: hidden;
	object-fit: cover;
	border-radius: 50%;
}

.menu_icon {
	height: 1.38888vw;
	width: 20px;
}

/* закончили хедер*/
.container {
	margin: 0 auto;
	max-width: 83.333333vw;
}

.breadcrumb {
	padding: 5.46875vh 0 2.734375vh;
}

.breadcrumb__list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	list-style: none;
}

.breadcrumb__list li {
	text-decoration: none;
}

.breadcrumb__list li a {
	display: inline-block;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: calc(16 / 1440 * 100vw);
	line-height: 24px;
	color: var(--dark);
}

.breadcrumb__list li :hover {
	color: var(--blue);
}


.breadcrumb__list li:not(:last-child)::after {
	content: "  /";
}

.exercise__section {
	display: flex;
	flex-direction: row;
	gap: 28px;

}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	width: 19.375vw;
}

.menu button:first-of-type {
	border-radius: 20px 20px 0 0;
}

.menu button:last-of-type {
	border-radius: 0 0 20px 20px;
}

.menu_button {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 20px 0px 20px 20px;
	border: none;
	background-color: var(--white);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: calc(16 / 1440 * 100vw);
	line-height: 24px;
	cursor: pointer;

}

.menu_button:active {
	background-color: var(--dark);
	color: var(--white);
}

.menu_icon {
	width: 20px;
}

.exercise__board {
	width: 62.08333333vw;
	background-color: var(--white);
	border-radius: 20px;
	padding: 2.222222vw;
}

.exercise_add {
	display: flex;
	justify-content: space-between;
}

.add_buttton {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 12px;
	padding: 8px 16px;
	gap: 6px;
	color: var(--white);
	background-color: var(--blue);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: calc(14 / 1440 * 100vw);
	line-height: 20px;
	cursor: pointer;
}


.exercise_list {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.name_search {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 12px 24px;
	border-radius: 16px;
	background-color: var(--light-gray);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: calc(12 / 1440 * 100vw);
	line-height: 18px;
}

input[type=search] {
	width: 90%;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=search]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}


input[type=submit] {
	background: url(/img/search.svg) no-repeat;
	cursor: pointer;
	width: 20px;
	height: 20px;
}


.exercise {
	width: 100%;
}

.exercise_section {
	margin-top: 1.111111vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.exercise li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.666666vw;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: calc(14 / 1440 * 100vw);
	line-height: 20px;
	background-color: var(--light-gray);
}

.exercise li:first-child {
	border-radius: 1.388888vw 1.388888vw 0 0;
}

.exercise li:last-child {
	border-radius: 0 0 1.388888vw 1.388888vw;
}


.exercise li:not(:first-child) {
	border-top: 2px solid;
	border-color: var(--gray);

}

.exercise_section li img {
	width: 3.61111vw;
	height: 3.61111vw;
	object-fit: cover;
	border-radius: 0.555555vw;
}

.exercise_section li div {
	display: flex;
	align-items: center;
}

.exercise_section li div span {
	margin-left: 16px;
}

.edit {
	width: 2.22222222vw;
	height: 2.22222222vw;
	background-color: var(--white);
	padding: 0.555555vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

.edit img {
	max-width: 100%;
	height: auto;

}


#edit_active_icon {
	display: none;
}

.edit:hover #edit_icon {
	display: none;
}

.edit:hover #edit_active_icon {
	display: flex;
}



/* create page */
.exercise_create {
	padding: 2.2222vw;
	background-color: var(--white);
	border-radius: 20px;
}

.exercise_create-h {
	font-family: 'Unbounded';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	align-items: center;
}

.exercise_create-add {
	margin: 2.2222vw 0;
	height: 11.11111111vw;
	display: flex;
	gap: 1.94444vw;
}

.exercise_create-name-edit {
	width: 41.66666vw;
	padding: 2.2222vw;
	background-color: var(--light-gray);
	display: flex;
	flex-direction: column;
	border-radius: 20px;

}

.text-field__label {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: (12 / 1440 * 100vw);
	line-height: 18px;
	color: var(--dark-gray);
}

.text-field__input {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: (14 / 1440 * 100vw);
	line-height: 20px;
	color: var(--dark);
	margin: 8px 0;
	border: 0;
	border-bottom: 1px solid var(--blue);
}

.exercise_create-img-add {
	display: flex;
	flex-direction: row;
	gap: 1.94444vw;
}



.download_cover {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 11.11111vw;
	background: rgba(88, 155, 255, 0.08);
	border: 1px dashed var(--blue);
	border-radius: 20px;
	cursor: pointer;
}

#download_exercise-cover {
	position: absolute;
	z-index: -10;
}

#download_traning-cover {
	position: absolute;
	z-index: -10;
}


.download_cover img {
	margin: 0 auto;
	width: 2.22222vw;
}

.download_cover span {
	color: var(--blue);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: (14 / 1440 * 100vw);
	line-height: 20px;
}


.load_cover {
	width: 11.11111vw;
	border-radius: 20px;
}

.load_cover {
	position: relative;
	overflow: hidden;
}

.delete_image {
	position: absolute;
	left: 74.69%;
	right: 5.31%;
	top: 5%;
	bottom: 75%;
	background-color: var(--white);
	border: none;
	border-radius: 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete_image img {
	height: 1.111111111111vw;
	width: 1.111111111111vw;

}

#delet_icon_2 {
	display: none;
}

.delete_image:hover #delet_icon_1 {
	display: none;
}

.delete_image:hover #delet_icon_2 {
	display: flex;
}

.exercise_create-btn {
	height: 4.722222222vw;
	border-top: 1px solid var(--gray);
	display: flex;
	justify-content: end;
	align-items: end;
	gap: 12px;
}

.cancellation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 24px;
	width: 7.569444vw;
	height: 3.3333333vw;
	border: none;
	border-radius: 12px;
	background: rgba(88, 155, 255, 0.08);
	cursor: pointer;
}

.save {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px 24px;
	width: 9.23611vw;
	height: 3.3333333vw;
	border: none;
	border-radius: 12px;
	cursor: pointer;
}

/*list_traing*/

.exercise_add h1 {
	font-family: 'Unbounded';
	font-style: normal;
	font-weight: 700;
	font-size: (24 / 1440 * 100vw);
	line-height: 32px;
}

.breadcrumb__training {
	width: 57.63888vw;
}

.breadcrumb__training_list {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	list-style: none;
}

.breadcrumb__training_list li {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: (14 / 1440 * 100vw);
	line-height: 20px;
	color: var(--dark);
}

[aria-current]:not([aria-current="false"]) {
	border-bottom: 1px solid #DCDEE3;
}

.training__list {
	margin-top: 24px;
}

.training_list_programm {
	margin-bottom: 16px;
	display: flex;
	justify-content: flex-start;
	padding: 16px;
	width: 57.63888vw;
	gap: 24px;
	border-radius: 20px;
	background-color: var(--light-gray);

}

.cover_programm {
	height: 9.444444vw;
	width: 9.444444vw;
	object-fit: cover;
	border-radius: 20px;
	overflow: hidden;
}

.training_list {
	width: 44.30555vw;
}

.type_of_training {
	display: flex;
	justify-content: space-between;
	font-family: 'Unbounded';
	font-style: normal;
	font-weight: 700;
	font-size: calc(16 / 1440 * 100vw);
	line-height: 24px;
}

.training {
	display: flex;
	gap: 16px;
	padding: 12px 0;
}

.training:not(:nth-child(2)) {
	border-top: 1px solid;
	border-color: var(--gray);

}


.training_icon {
	width: 3.61111vw;
	height: 3.61111vw;
	object-fit: cover;
	overflow: hidden;
	border-radius: 8px;
}

.training_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.taraing_name {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: (14 / 1440 * 100vw);
	line-height: 20px;
	color: var(--dark);
}

.training_sets {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.training_sets img {
	height: 1.25vw;
	width: 1.25vw;
}

.training_sets span {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: (12 / 1440 * 100vw);
	line-height: 18px;
	color: var(--dark-gray);
}

/*Создать программу тренировок*/
.create_traning_programm {
	background-color: var(--light-gray);
	border-radius: 20px;
	padding: 24px 32px;
}

.training_add-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.training_add {
	display: flex;
	gap: 16px;
	padding: 12px 0;
}


.training_add:not(:nth-child(1)) {
	border-top: 1px solid;
	border-color: var(--gray);

}

.options_exercise {
	border: none;
	background-color: inherit;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size:(12 / 1440 * 100vw);
	line-height: 18px;
	color: var(--blue);
	cursor: pointer;
}

.add_button_exerciss {
	margin-top: 16px;
	margin-bottom: 32px;
	width: 211px;
	height: 36px;
}

.primary_button {
	width: 100%;
	height: 100%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: (14 / 1440 * 100vw);
	line-height: 20px;
	color: var(--blue);
	border: none;
	border-radius: 12px;
	background-color: rgba(88, 155, 255, 0.12);
	cursor: pointer;
}

.users_list {
	margin-top: 16px;
	padding: 24px;
	border-radius: 16px;
	background-color: var(--light-gray);
	display: flex;
	flex-direction: column;
}

.user {
	display: flex;
	justify-content: space-between;
}

.user:not(:first-child) {
	padding-top: 16px;
	border-top: 1px solid var(--gray);
}

.user:not(:last-child) {
	padding-bottom: 16px;
}

.user__info {
	display: flex;
	gap: 16px;
}

.avatar {
	height: 3.6111111vw;
	width: 3.6111111vw;
	overflow: hidden;
	border-radius: 8px;
}

.personal_inf {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.user_name {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: var(--dark);
}

.user_e-mail {
	display: flex;
	gap: 8px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	color: var(--dark-gray);
}

.user_e-mail img {
	height: 1.25vw;
	width: 1.25vw;
}

.user__options {
	display: flex;
	gap: 12px;
	justify-content: end;
	align-items: center;
}

.add_button_users {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.361111vw;
	width: 18.4027777vw;
}

.primary_button-user {
	width: 100%;
	height: 100%;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: calc(12 / 1440 * 100vw);
	line-height: 18px;
	color: var(--blue);
	border: none;
	border-radius: 12px;
	background-color: rgba(88, 155, 255, 0.12);
	cursor: pointer;
}

/*Create User*/
.create__user-block {
	margin-top: 32px;
	display: flex;
	justify-content: flex-start;
	gap: 28px;
}

.user_information {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 32px;
	background-color: var(--light-gray);
	border-radius: 20px;
}


.radio-form {
	margin-top: 12px;
	display: flex;
	gap: 32px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.radio-form-1 {
	position: relative;
	padding-left: 25px;
}

.radio__input {
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}

.radio__label {
	cursor: pointer;
}


.radio__label::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid var(--dark-gray);
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: -6px;
	z-index: 2;
}

.radio__label::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: var(--blue);
	border-radius: 50%;
	position: absolute;
	top: 4px;
	left: -1px;
	z-index: 2;
	opacity: 0;
}

.radio__input:checked+.radio__label::after {
	opacity: 1;

}

.download_avatar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(88, 155, 255, 0.08);
	border: 1px dashed var(--blue);
	border-radius: 20px;
	cursor: pointer;
	color: var(--blue);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size:  calc(14 / 1440 * 100vw);
	line-height: 20px;
	width: 13.888888vw;
	height: 13.888888vw;
	overflow: hidden;
}

#download_user-cover {
	position: absolute;
	z-index: -10;
}


.download_avatar img {
	margin: 0 auto;
	width: 2.22222vw;
}

.download_avatar span {
	text-align: center;
}

/*modal window*/


.modal_add-exercise-form {
	position: fixed;
	display: none;
	z-index: 1000;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(31, 40, 48, 0.5);
}

.modal_content {
	height: 62%;
	margin: 15% auto;
	background-color: var(--white);
	width: 55.5555555vw;
	z-index: 9999;
	border-radius: 1.38888888vw;
	padding: 1.66666vw 2.77777vw;
	display: flex;
	flex-direction: column;
	gap: 1.38888888vw;
}

.modat_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.3333333vw;
}

.modal_close-btn {
	background-color: var(--light-gray);
	height: 3.3333333vw;
	width: 3.3333333vw;
	border: none;
	border-radius: 1.3888888vw;
	padding: 0.833333vw;
	cursor: pointer;
}

.modal_search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-gray);
	height: 3.05555555vw;
	padding: 0.8333333vw 1.666666666vw;
	border-radius: 1.11111vw;
}

.search-btn {
	border: none;
	background-color: var(--light-gray);
	width: 1.38888888vw;
	height: 1.38888888vw;
	cursor: pointer;
}

.modal_exercise {
	height: 25.555555vw;
	border-radius: 1.38888vw;
	padding: 1.11111vw 0.83333vw 1.66666vw 1.66666vw;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 0.27777vw;
	/*ширина для вертикального скролла */
	background-color: var(--light-gray);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: var(--gray);
	border-radius: 6.94444vw;
}


.exercise_counter {
	display: flex;
	justify-content: flex-start;
	gap: 0.555555vw;
}

.exercise_section-modal {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.exercise_section-modal li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5.83333333vw;
	padding-top: 1.1111111vw;
	padding-bottom: 1.1111111vw;
}


.exercise_section-modal li:not(:first-child) {
	border-top: 1px solid;
	border-color: var(--gray);
}


.exercise_section-modal li div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1.1111111vw;
}

.exercise_section-modal li img {
	width: 3.472222vw;
	border-radius: 0.555555vw;
}

.delete-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 0.83333vw;
	cursor: pointer;
	width: 2.22222vw;
	height: 2.22222vw;
}


.delete-btn img {
	height: 1.111111111111vw;
	width: 1.111111111111vw;

}

#delet_exercise_2 {
	display: none;
}

.delete-btn:hover #delet_exercise_1 {
	display: none;
}

.delete-btn:hover #delet_exercise_2 {
	display: flex;
}


.modal_add-exercise-form-2 {
	position: fixed;
	display: none;
	z-index: 1000;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(31, 40, 48, 0.5);
}

.modal_content-2 {
	height: 62%;
	margin: 15% auto;
	z-index: 9999;
	background-color: var(--white);
	width: 55.5555555vw;
	border-radius: 1.38888888vw;
	padding: 1.66666vw 2.77777vw;
	display: flex;
	flex-direction: column;
	gap: 1.38888888vw;
}


.exercise-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5.83333333vw;
	padding: 1.11111vw 1.66666vw;
	border-radius: 1.38888vw;


}


.exercise-content div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1.1111111vw;
}

.exercise-content img {
	width: 3.472222vw;
	border-radius: 0.555555vw;
}


.exercise_create-name-edit-2 {
	display: flex;
	flex-direction: column;
	gap: 1.11111vw;
}

.time-sets {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0.55555vw;
}

.input_time-sets {
	align-items: center;
	border: 1px solid var(--gray);
	border-radius: 0.55555vw;
	width: 6.11111vw;
	height: 1.52777vw;
	padding: 0.55555vw 1.11111vw;
}

.exercise_create-btn-2 {
	height: 4.722222222vw;
	display: flex;
	justify-content: end;
	align-items: end;
	gap: 12px;
}

.invisable{
	visibility: collapse;
}
